/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-03-12, 10:18:59
    Author     : student
*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.komentarz{
    padding: 50px;
}

tr{ padding: 0 10px 0 0; }
.jumbotron{
    padding: 10px;
}
.przyklad{
   
}
.row{
    margin-top: 100px;
    margin: 100px 0 0 0;
    padding: 0;
}
.kategoria{
    height: 130px;
    margin: 0 0 0 0;
    padding: 0;
    
}
.kat{
    height:100%;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0;
    
}
.formularz{
    margin: 20px 300px 20px 300px;
    padding: 10px 50px 10px 50px;
    background-color: lightgray;
}
#sukces{
    margin: 20px 300px 20px 300px;
    font-size: 150%;
}
.wyszukiwanie-filtry{
    height: 100%;
    width: 20%;
    display:inline-block;
       
}
.wyszukiwanie-aukcja{
    height: 15%;
    width: 70%;
    display:inline-block;
}
.wyszukiwanie-aukcja-obraz{
    height: 100%;
    width: 20%;
    display:inline-block;
}
.wyszukiwanie-aukcja-opis{
    height: 100%;
    width: 79.5%;
    display:inline-block;
}



